.header {
    display: flex;
    padding: 14px 40px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: rgba(244, 244, 245, 1);
}

.header__button {
    border: none;
    background: none;
    color: rgb(161, 161, 170);
}

.header__menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(244, 244, 245, 1);
    max-height: 75vh;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.header-dropdown--desktop {
    display: none;
}

.header-dropdown--mobile {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-dropdown--mobile li {
    padding: 8px 16px 8px 12px;
    color: rgb(82, 82, 91);
    font-weight: 500;
}

.header-dropdown--mobile li:hover{
    color: #000;
    background: #e4e4e7;
}
